@font-face {
    font-family: 'Norwester';
    src: url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.eot'), /* IE9 Compat Modes */
    url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.woff') format('woff'), /* Pretty Modern Browsers */
    url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.svg#norwesterregular') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
}

body {
    width: 95%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background-color:  #FFD7C1;
    padding: 0;
    margin: 0 auto;
}

header {
    font-family: 'Norwester';
    background-color: #072083;
    text-align: center;
    color: white;
    text-transform: uppercase;
    flex-wrap: nowrap;
    margin: 0;
}

p {
    font-size: 1.6rem;
}

/* The container for Toriyama's picture/header */
.container {
    width: 100%;
    background-color: #F85B1A;
    border-radius: 10px 10px 0 0;
    padding: 50px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* The link binded to Toriyama's name in the description */
a:link {
    text-decoration: none;
    color: red;
}

a:hover {
    color: white;
}

a:visited {
    color: red;
}

.tribute-pic {
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mask {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/* The actual image of Toriyama */
#image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

#img-caption {
    font-family: 'Norwester';
    font-size: 1.6rem;
    padding: 20px 0 0 0;
    color:  #072083;
    text-align: center;
}

.toriyama-description {
    background-color: #072083;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* The container for ONLY the description */
span#tribute-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2b400;
    padding: 40px;
    margin: 100px auto 0 auto;
    border-radius: 5px;
}

#robot-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#robot-caption {
    display: inline;
    font-size: 1.2rem;
}

#robot-img > img {
    display: block;
    width: 25%;
    max-height: auto;
}

.robot-description {
    font-size: 1.3rem;
}
/* Used to make the header font and profile picture responsive with viewport */
@media (min-width: 992px) {
    header {
        font-size: 8rem;
    }

    #mask {
        width: 400px;
        height: 400px;
    }
    
    .toriyama-description {
        padding: 0 0 100px 0;
        width: 100%;
        height: auto;
    }

    span#tribute-info {
        width: 80%;
    }
}

@media (max-width: 991px) {
    header {
        font-size: 6rem;
    }

    #mask {
        width: 300px;
        height: 300px;
    }

    .toriyama-description {
        padding: 0 0 50px 0;
        width: 100%;
        height: auto;
    }

    span#tribute-info {
        width: 100%;
    }

    #robot-img > img {
        display: block;
        max-width: 60%;
        max-height: auto;
    }
}
